body {
  /* overflow-x: hidden;
  background: url(../images/background.jpg) no-repeat center fixed;
  background-size: cover; */
  background-color: white;
}

.search-bar {
    width: 85%;
    padding: 100px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.171);
}

.search{
    position: relative;
    top: -400px;
}

label{
    color: white;
}

.search-input {
    width: 180px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.171);
    display: inline-block;
    color: white;
}

.search-btn {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 50px;
}

.search-btn:hover {
    background-color: #1e293b;
    color: #fff;
}

.search-by-component {
    margin-left: 20px;
}

.bus-operators{
    width:100%; 
    margin:0 auto; 
    margin-top: 25px;
    padding: 15px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    background-color: #fff;
    line-height: 50px;
}

.bus-list .fas{
    color: black;
}

.bus-routes{
    border: 2px solid blueviolet;
    border-radius: 10px;
    width:100%; 
    margin:0 auto; 
    margin-top: 100px;
    padding: 15px;
    background-color: #fff;
    line-height: 50px;
}
