html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}